a {
    display: flex;
    color: #000;
    text-decoration: none;
    font-size: 15px;
    background-color: #36AFFF;
    justify-content: center;
    align-items: center;
    height: auto;
    border-right: 1px solid #000 ;
    width: 100px;
}

a:hover {
    color: #525252;
}

a:active {
    background-color: #525252;
    color: white;
}

/*sve flex*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    flex-direction: row;
}

.header-right {
    display: flex;
    flex-direction: row;
    margin: auto 50px;
    padding: 8px 0;
}