/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import 'colors';
@import 'fonts';
@import 'positioning';

h2, h3 {
  color: color('white');
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[type="text"], button {
  color: color('white');
  font-family: Cambria, Georgia, serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  @include theme(true);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: cover;
  background-color: color('white');
}

.container {
  
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 100%;
  grid-template-areas:
  "header header"
  "side content";
  @include mobile() {
    /*pozicionirat sidebar iznda contenta ili dodat button za sidebar*/
  }
}

app-header {
  grid-area: header;
  background-color: transparent;
}

mat-sidenav-container {
  grid-area: side;
  background-color: cornflowerblue;
  mat-sidenav-content{
    background-color: cornflowerblue;
  }
}

app-main {
  grid-area: content;
  background-color: cornflowerblue;
  padding: 0px 80px;
  padding-top: 10vh;
}


