@import 'colors';

.navbar{
    justify-content: space-between;
    align-self: center;
    box-sizing: border-box;

    #{&}__right{
        margin-right: 4vw;

        span{
            a {
                padding: 1rem;
                text-decoration: none;
                // display: flex;
                // font-size: 15px;
                // background-color: transparent;
                // justify-content: center;
                // align-items: center;
                // height: auto;
                // width: 100px;
                color: color('white');

                &:hover{
                    color: color('gray');
                    text-decoration: underline;
                }

                &:active{
                    background-color: color('dark-blue');
                    border-radius: 10px;
                    color: color('white');
                }
            }
        }
    }

    #{&}__left{
        align-self: center;

        span{
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

/*sve flex*/
// header {
//     display: flex;
//     justify-content:space-between;
//     flex-wrap: wrap;
//     margin: 11vh 0;

//     div {
//         display: flex;
//         flex-direction: row;
//         box-sizing: border-box;
//         &.left{
//             width: 33%;
//         }

//         &.middle{
//             width: 33%;
//             justify-content: center;
//         }

//         &.right{
//             width: 33%;
//             padding-left: 13%;
//         }
//     }
// }




