/* HeroesComponent's private CSS styles */
@import 'colors';

.main {
  display: flex;
  flex-direction: row;
  &>div{
    margin-right: 80px;
  }
}

.heroes {
  margin-right: 80px;
  list-style-type: none;
  padding: 0;
  width: 100%;
  box-sizing: border-box;

  .first{
    border-radius: 10px 10px 0 0;
  }

  li {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    background-color: white;

    &:hover{
      left: .1em;
    }

    &:active{
      background-color: color('dark-blue');
    }
  }

  .last{
    border-radius: 0 0 10px 10px;
  }

  a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: color('dark-blue');
    text-decoration: none;  
    height: 2em;
    border-radius: 4px;
    width: 100%;
    font-size: 1rem;
    text-align: center;

    &:hover{
      color: color('dark-red');
    }

    &:active{
      color: color('white');
    }
  }

  button.delete{
    border: transparent;
    background-color: transparent;
    font-size: 24px;
    color:color('gray');

    &:hover{
      color: color('dark-red');
    }
  }
}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}

.add-button {
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: color('white');
  background-color: color('dark-blue');
  border-radius: 10px;
  cursor: pointer;
  &:hover{
    background-color: color('blue');
  }
}





