<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="main">
  <div>
    <h2>My Heroes</h2>

    <ul class="heroes">
      <li *ngFor="let hero of heroes;index as i; first as isFirst; last as isLast;" 
          [ngClass]="{ 'first' : isFirst,  'last' : isLast}" 
          (click)="onSelect(hero)">
          
        <a routerLink="/heroes/{{hero.id}}">
          <span class="badge">&nbsp; {{ selectedHero?.id === hero.id ? selectedHero?.id : hero.id}}. &nbsp; </span> 
          {{ selectedHero?.id === hero.id ? selectedHero?.name : hero.name }}
        </a>
        
        <button class="delete" title="delete hero"(click)="delete(hero)">
          <i class="fa fa-trash-o"></i>
        </button>
      </li>
    </ul>

    <br>

    <div>
      <label for="new-hero">Hero name: </label>
      <input #heroName id="new-hero" placeholder="Add a new hero..."/>

      <!-- (click) passes input value to add() and then clears the input -->
      <button class="add-button" (click)="add(heroName.value); heroName.value=''">
        Add hero
      </button>
      <button class="add-button" (click)="getHeroesData()">
        get data
      </button>
    </div>
  </div>

  <app-hero-detail (heroSaved)="updateHero($event)"[hero]="selectedHero"></app-hero-detail>
</div>

